YF_TRANSPORT=stdio
YF_LOG_LEVEL=WARNING
YF_CACHE_BACKEND=memory
YF_CACHE_TTL=900
YF_CACHE_TTL_QUOTE=60
YF_CACHE_TTL_REFERENCE=3600
YF_CACHE_TTL_HISTORY=900
YF_CACHE_PATH=
YF_MAX_WORKERS=4
YF_UPSTREAM_CONCURRENCY=4
YF_UPSTREAM_PER_REQUEST=4
YF_CONNECT_TIMEOUT=5
YF_READ_TIMEOUT=20
YF_TOTAL_TIMEOUT=30
YF_MAX_RETRIES=3
YF_HTTP_HOST=127.0.0.1
YF_HTTP_PORT=8000
