[MASTER]
ignore=.venv
init-hook=
    import os, site, sys; \
    root = os.getcwd(); \
    sys.path.insert(0, os.path.join(root, "src")); \
    venv_python = os.path.join(root, ".venv", "lib", f"python{sys.version_info.major}.{sys.version_info.minor}", "site-packages"); \
    os.path.isdir(venv_python) and site.addsitedir(venv_python)

[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring,
    too-many-lines,
    too-many-arguments,
    too-many-positional-arguments,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-return-statements,
    too-few-public-methods,
    duplicate-code,
    protected-access,
    unused-argument,
    broad-exception-caught,
    redefined-outer-name

[FORMAT]
max-line-length=140
